<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
	  <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	  <add key="dotnet-esb-sdk" value="https://pkgs.dev.azure.com/BarrettBusinessServicesIncorporated/Transform/_packaging/dotnet-esb-sdk/nuget/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <dotnet-esb-sdk>
      <add key="Username" value="any-string" />
      <add key="ClearTextPassword" value="bnnc6wsdi2prxecbo33b44vn6txh4dxpsffyip2b3hoicxrwhtea" />
    </dotnet-esb-sdk>
  </packageSourceCredentials>
</configuration>